<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    </head>
    <body style="background-color: #2782dc">

        <div style="width: 25%;" class="my-4 ">
            <div class="card">
                <div class="card-body">
                    <div>
                        <a href="/login" > <button th:action="@{/add-user}" class="form-control" style="background-color: black; color: white">Login</button></a>
                    </div>
                    <br>
                    <div>
                        <a href="/mobil/showForm" ><button  class="form-control" style="background-color: black; color: white">Add Mobil</button></a>
                    </div>
                    <br>
                    <div>
                        <a href="/pinjam/list" ><button class="form-control" style="background-color: black; color: white">Pinjam Mobil</button></a>
                    </div>
                    <br>
                    <div>
                        <a href="/login" ><button class="form-control" style="background-color: black; color: white">Pengembalian Mobil</button></a>
                    </div>
                    <br>
                    <div>
                        <a href="/add-user" ><button class="form-control" style="background-color: black; color: white">Add User</button></a>
                    </div>
                    <br>
                    <div>
                        <a href="/login" ><button  class="form-control"style="background-color: black; color: white">Exit</button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>